// reset default styles
@mixin reset-text {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-button {
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

// layout
@mixin desktop-container {
  width: 60.93%;
  min-width: 980px;
  margin: 0 auto;
}

@mixin tablet-container {
  padding-right: 3.25%; //25px TODO
  padding-left: 3.25%;
}

@mixin mobile-container {
  padding-right: 4.68%; //15px TODO
  padding-left: 4.68%;
}
