// colors
$basic-white: #ffffff;
$basic-dark: #1b2d37;
$accent-blue: #00b2ff;
$basic-gray: #999999;
$dark-gray: #666666;
$special-gray: #626962;

// breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;
