.button {
  @include reset-button;

  padding: 14px 30px 10px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;

  border: 1px solid $basic-white;
  border-radius: 5px;

  &--accent {
    color: $accent-blue;

    border-color: $accent-blue;
  }

  &:hover,
  &:focus {
    color: $accent-blue;

    background-color: $basic-white;
    outline: none;
  }

  &--accent:hover,
  &--accent:focus {
    color: $basic-white;

    background-color: $accent-blue;
  }

  &:active {
    opacity: 0.7;
  }
}
