.company {
  display: flex;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.company h2 {
  @include reset-text;

  margin-bottom: 18px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $dark-gray;

  @media (max-width: $tablet-width) {
    margin-bottom: 27px;

    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
  }
}

.company p {
  @include reset-text;

  max-width: 984px;
  margin-bottom: 20px;

  color: $dark-gray;

  &:last-of-type {
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    &:last-of-type {
      margin-bottom: 40px;
      height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
    height: auto;
  }
}

.company a {
  display: inline-block;
  vertical-align: middle;
  padding-right: 50px;
  padding-left: 50px;
}

.company__img-wrapper {
  width: 180px;
  height: 317px;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    width: 185px;
    height: 360px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.company__img-wrapper img {
  height: 100%;

  object-fit: cover;
  object-position: 80%;

  @media (max-width: $tablet-width) {
    object-position: center;
  }
}
