.features {
  background-color: transparent;
}

.features ul {
  @include reset-list;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2.56%;
  row-gap: 30px;

  @media (max-width: $tablet-width) {
    column-gap: 3.89%;
    grid-template-rows: min-content min-content;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.features li {

  border: 1px solid #ebebeb;
  border-left: 3px solid $accent-blue;

  cursor: pointer;

  &:hover {
    border-color: transparent;
    background-color: $accent-blue;
  }

  @media (max-width: $tablet-width) {
    border-left-width: 2px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    @media (max-width: $mobile-width) {
      margin-bottom: 0;
    }
  }
}

.features__item {
  padding: 40px 7% 65px;

  background-color: $basic-white;

  @media (max-width: $tablet-width) {
    min-height: 230px;

    padding: 25px 5.79% 18px 7.24%;
  }

  @media (max-width: $mobile-width) {
    min-height: auto;
    padding: 25px 5.17% 20px 8.62%;
  }
}

.features__item h3 {
  @include reset-text;

  display: inline-flex;
  flex-direction: column;
  margin-bottom: 15px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $accent-blue;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;

    font-size: 20px;
    line-height: 28px;
  }

  li:hover & {
    color: $basic-white;
  }
}

.features__item p {
  @include reset-text;

  color: $dark-gray;

  li:hover & {
    color: $basic-white;
  }

  @media (max-width: $tablet-width) {
    padding-right: 1%;
  }
}

.features__item svg {
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
}
