.heading {
  position: relative;

  color: $basic-white;

  background-color: $basic-dark;
  background-image:
    url("../images/dark-bg-desktop@1x.png"),
    url("../images/triangles-bg.svg");
  background-repeat: no-repeat;
  background-size: cover, 671px 641px;
  background-position: center, 53.5vw 50%;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../images/dark-bg-desktop@2x.png"),
      url("../images/triangles-bg.svg");
  }

  @media (max-width: $tablet-width) {
    position: static;

    background-size: cover, 520px 520px;
    background-position: center, 57vw -30%;
  }

  @media (max-width: $mobile-width) {
    background-position: 55%, 45vw -40%;
  }
}

.heading__wrapper {
  width: 74%;
  margin: 0 auto;
  min-width: 980px;
  display: flex;
  padding: 170px 0 0;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
    padding: 24px 0 0 11.42%;
    display: grid;
    grid-template-columns: auto minmax(260px, 1fr);
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    padding: 35px 0 0;
    overflow-x: hidden;
  }
}

.heading a {
  position: absolute;
  left: calc((100% - 980px) / 2 - 90px / 2 + 8px);
  bottom: 125px;

  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  opacity: 0.5;

  transform: rotate(-90deg);

  @media (min-width: 1320px) {
    left: calc(13.17% - 90px / 2 + 8px);
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.heading__info {
  max-width: 720px;

  @media (max-width: $tablet-width) {
    max-width: 500px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;

    max-width: none;

    order: 1;
  }
}

.heading__info h1 {
  @include reset-text;

  margin: 7.5% 0 28px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-top: 75px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-top: -25px;

    font-size: 40px;
    line-height: 47px;
  }
}

.heading__info p {
  @include reset-text;

  position: relative;

  padding-left: 95px;
  margin-bottom: 45px;

  font-size: 22px;
  line-height: 34px;

  @media (max-width: $tablet-width) {
    padding-left: 50px;
    margin-bottom: 55px;

    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    position: absolute;
    top: 17px;
    left: 0;

    content: "";
    width: 66px;
    height: 2px;

    background-color: $basic-white;

    @media (max-width: $tablet-width) {
      top: 15px;

      width: 33px;
    }
  }
}

.heading__info a {
  position: static;

  display: inline-block;
  margin-left: 95px;
  padding: 17px 6.5%;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  opacity: 1;

  background-color: $accent-blue;
  border-radius: 5px;

  transform: none;

  @media (max-width: $tablet-width) {
    margin-left: 48px;
    width: calc(100% - 48px);
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 178, 255, 0.7);
  }

  &:active {
    background-color: rgba(0, 178, 255, 0.3);
  }
}

.heading__info span {
  &:first-of-type {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &:last-of-type {
    display: none;

    @media (max-width: $mobile-width) {
      display: inline;
    }
  }
}

.heading__img-wrapper {
  margin-right: -1%;
  margin-left: 1%;

  @media (min-width: 1140px) {
    margin-right: -5%;
    margin-left: 5%;
  }

  @media (max-width: $tablet-width) {
    margin-right: -23%;
    margin-left: 0;
    min-width: auto;
    max-width: 100%;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    height: 220px;
    width: 91.87%;
    margin: 0 -7px 0 auto;
  }
}

.heading__img-wrapper img {
  display: block;

  @media (max-width: $tablet-width) {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  @media (max-width: $mobile-width) {
    object-fit: contain;
    object-position: center;
  }
}
