.page-main__heading {
  padding: 90px 0 105px;

  @media (max-width: $tablet-width) {
    padding-bottom: 165px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 55px;
    padding-bottom: 70px;
  }
}

.page-main__info {
  padding: 112px 0 96px;

  background-image: url("../images/figures-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 35%;

  @media (max-width: $tablet-width) {
    @include tablet-container;

    padding-top: 55px;
    padding-bottom: 75px;

    background-image: url("../images/triangle-tablet-bg.svg");
    background-size: 72%;
    background-position: right 40%;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;

    padding-top: 35px;
    padding-bottom: 65px;
  }
}

.page-main__features {
  @include desktop-container;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
  }
}

.page-main__company {
  @include desktop-container;

  padding-top: 110px;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
    padding-top: 55px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
  }
}

.page-main__service {
  background-color: $basic-dark;

  @media (max-width: $tablet-width) {
    @include tablet-container;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;
  }
}

.page-main__service-wrapper {
  @include desktop-container;

  padding: 90px 0 129px;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;

    padding: 50px 0 79px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 65px;
  }
}

.page-main__feedback {
  padding: 90px 0 110px;

  background-color: $accent-blue;
  background-image: url("../images/triangles-bg.svg");
  background-repeat: no-repeat;
  background-position: 14% -60px;

  @media (max-width: $tablet-width) {
    padding: 80px 11.2% 105px 11.9%;

    background-image: none;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;

    padding-top: 35px;
    padding-bottom: 40px;
  }
}

.page-main__feedback-wrapper {
  @include desktop-container;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
  }
}
