.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  padding: 33px 0 0;

  @media (max-width: $tablet-width) {
    @include tablet-container;

    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 4.68% 0 5.31%;
  }
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73.48%;
  min-width: 980px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
  }
}

.page-header__logo {
  flex-shrink: 0;
  display: block;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.page-header__contacts {
  display: flex;
  align-items: center;
}

.page-header__contacts ul {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 2.7vw;

  line-height: 18px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.page-header__contacts li {
  margin-right: 4.58vw;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin-right: 4.28vw;
  }

  @media (max-width: $mobile-width) {
    margin-right: 7.18vw;
  }
}

.page-header__contacts a {
  display: inline-flex;
  align-items: center;

  color: $basic-white;

  &:hover,
  &:focus {
    color: $accent-blue;
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    &:hover svg,
    &:focus svg {
      color: $basic-white;
    }
  }
}

.page-header__contacts svg {
  margin-right: 17px;

  color: $accent-blue;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    width: 24px;
    height: 24px;
  }
}

.page-header__contacts span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__feedback a {
  padding: 14px 26px 12px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
