.page-main__heading {
  padding: 90px 0 110px;

  @media (max-width: $tablet-width) {
    padding-bottom: 165px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 55px;
    padding-bottom: 70px;
  }
}

.page-main__info {
  padding: 110px 0 95px;

  @media (max-width: $tablet-width) {
    @include tablet-container;

    padding-top: 55px;
    padding-bottom: 75px;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;

    padding-top: 35px;
    padding-bottom: 65px;
  }
}

.page-main__features {
  @include desktop-container;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
  }
}

.page-main__company {
  @include desktop-container;

  padding-top: 110px;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
  }

  @media (max-width: $mobile-width) {
    padding-top: 60px;
  }
}

.page-main__service {
  background-color: $basic-dark;

  @media (max-width: $tablet-width) {
    @include tablet-container;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;
  }
}

.page-main__service-wrapper {
  @include desktop-container;

  padding: 95px 0 125px;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;

    padding: 55px 0 75px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 65px;
  }
}

.page-main__feedback {
  padding: 95px 0 110px;

  background-color: $accent-blue;
  background-image: url("../images/triangles-bg.svg");
  background-repeat: no-repeat;
  background-position: 10.2% -60px;

  @media (max-width: $tablet-width) {
    padding: 85px 11.2% 105px 11.9%;

    background-image: none;
  }

  @media (max-width: $mobile-width) {
    @include mobile-container;

    padding-top: 35px;
    padding-bottom: 40px;
  }
}

.page-main__feedback-wrapper {
  @include desktop-container;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: auto;
  }
}
